{% extends 'base.html' %}

{% block content %}
<h1>{{ artist.stageName }}</h1>
{{ artist.longBio|safe }}
<section class="videos">
{% for video in artist.videos.content %}
    <h2>{{ video.name }}</h2>
    {{ video.embedCode|safe }}
{% endfor %}
</section>
<section class="events">
    {% regroup artist.events.all.content by dateOfEvent.year as years %}
    {% for year in years %}
    <section class="event-year">
        <h3>{{ year.grouper }}</h3>
        <ul>
            {% for event in year.list %}
                <li class="row"><p class="col-md-9 col-lg-10">{{ event.dateOfEvent.date }} / <a href="#">{{ event.location.address.city }} / {{ event.location.name }}</a></p><button type="button" class="btn btn-success col-md-3 col-lg-2">/ Tickets /</button></li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</section>
<section class="assets">
{% for asset in artist.assets %}
    {% if asset.mimeType == 'image/jpeg' %}
        <img src="{{ asset.downloadUrl }}?width=400" />
    {% endif %}
{% endfor %}
</section>
{% endblock %}
